.nav_movile {
  display: none;
}

.nav_movile img {
  width: 30px;
  height: 30px;
}

@media only screen and (max-width: 960px) {
  .nav_movile {
    display: flex;
    align-items: center;
  }
}
