.navsearch {
  display: flex;
}
.search_form {
  width: 300px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: var(--color-primary);
  border-radius: 20px;
  overflow: hidden;
}

.search_form input[type="text"] {
  border: none;
  background: transparent;
  outline: none;
  color: var(--color-base);

  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  padding: 10px 40px;
}
.search_form input:hover {
  background-color: #202020;
}

.btn_search {
  position: absolute;
  background: transparent;
  border: none;
  outline: none;
  width: 35px;
  height: 35px;
  left: 0;
  margin-right: 10px;
}

.form_button {
  display: none;
}

.form_movile {
  display: none;
  background-color: white;
}

@media only screen and (max-width: 960px) {
  .search_form {
    display: none;
  }
  .form_button {
    display: flex;
    width: 30px;
    height: 30px;
    background-color: var(--color-primary);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .form_movile {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 7vh;
    width: 100%;
    background-color: red;
    align-items: center;
  }

  .open {
    display: flex;
  }
}
