/* import styles text */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins&display=swap");

:root {
  font-family: "Inter, sans-serif";
  font-size: 16px;
  --font-primary: "Roboto Mono", monospace;
  --font-secundary: "Poppins", sans-serif;
  --border-general: 5px;
  --color-base: #fff;
  --color-primary: #414141;
  --color-primary-hover: #747474;
  --color-secundary: #333;
  --color-ternary: #fa5c7c;
  --color-ternary-hover: #d54e69;
  --color-four: #727cf5;
  --color-four-hover: #6169d0;
  --bg-primary: #121212;
  --bg-secundary: #2a2a2a;
  --max-content: 1100px;
  --transition-speed: 600ms;
}
