.navigation {
  display: flex;
  justify-content: center;
  font-size: clamp(1rem, 0.9524rem + 0.3175vw, 1.25rem);
  padding: 2rem;
}
.navigation button {
  background: transparent;
  border: none;
  font-weight: 700;
  color: var(--color-base);
}

.page {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.page button {
  cursor: pointer;
}
.navigation button svg {
  display: block;
}

.page:hover:not(.activePage) {
  background-color: var(--bg-secundary);
  border-color: var(--bg-primary);
}
.activePage {
  background-color: var(--bg-secundary);
  border-radius: 50%;
}

@media only screen and (max-width: 960px) {
  .navigation {
    gap: clamp(0.5rem, 1vw, 1.5rem);
    padding: 1rem;
  }
}
