.navbar_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  height: 50px;
  font-size: 18px;
  font-family: var(--font-primary);
  letter-spacing: 0.3rem;
}
.navbar_item:hover {
  background-color: var(--color-primary);
  border-left: 4px solid var(--color-ternary);
  cursor: pointer;
}
.navbar_item a {
  text-decoration: none;
  color: var(--color-base);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar_item div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar_item div > span {
  margin-left: 16px;
}
