.filters {
  position: relative;
  padding: 1rem;
  color: white;
  z-index: 1;
}

.filters .items {
  width: 100%;
  background-color: var(--bg-secundary);
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  padding: 1rem;
}

.items .nt {
  display: flex;
  gap: 1rem;
}

.item p {
  color: var(--color-ternary);
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 5px;
  padding-bottom: 5px;
  text-transform: capitalize;
}

.item select {
  width: 160px;
}
.item select,
.item option {
  border: none;
  outline: none;
  font-weight: 600;
  background: transparent;
  background-color: var(--color-primary);
  border-radius: 5px;
  padding: 5px;
  color: var(--color-base);
  padding-left: 10px;
}

.item select:hover {
  background-color: #202020;
}

/* .item select option:focus-visible{
  background-color: #202020;
} */

@media only screen and (max-width: 960px) {
  .filters .items {
    flex-direction: column;
  }

  .items .nt {
    flex-direction: column;
  }
}
